<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amwyanhoo.dao.PfUserMapper">
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUser">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="IADMINTYPE" jdbcType="DECIMAL" property="iadmintype" />
    <result column="IADMINSTATUS" jdbcType="DECIMAL" property="iadminstatus" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="CADMININFO" jdbcType="VARCHAR" property="cadmininfo" />
    <result column="CADMINSN" jdbcType="VARCHAR" property="cadminsn" />
    <result column="CADMINCERT" jdbcType="VARCHAR" property="cadmincert" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CASERIALNUMBER" jdbcType="VARCHAR" property="caserialnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, IADMINTYPE, IADMINSTATUS, USERNAME, CADMININFO, CADMINSN, CADMINCERT, SEX, 
    PASSWORD, CASERIALNUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER (USERID, IADMINTYPE, IADMINSTATUS, 
      USERNAME, CADMININFO, CADMINSN, 
      CADMINCERT, SEX, PASSWORD, 
      CASERIALNUMBER)
    values (#{userid,jdbcType=VARCHAR}, #{iadmintype,jdbcType=DECIMAL}, #{iadminstatus,jdbcType=DECIMAL}, 
      #{username,jdbcType=VARCHAR}, #{cadmininfo,jdbcType=VARCHAR}, #{cadminsn,jdbcType=VARCHAR}, 
      #{cadmincert,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{caserialnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="iadmintype != null">
        IADMINTYPE,
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="cadmininfo != null">
        CADMININFO,
      </if>
      <if test="cadminsn != null">
        CADMINSN,
      </if>
      <if test="cadmincert != null">
        CADMINCERT,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="iadmintype != null">
        #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    <set>
      <if test="iadmintype != null">
        IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    set IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      USERNAME = #{username,jdbcType=VARCHAR},
      CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUser">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="IADMINTYPE" jdbcType="DECIMAL" property="iadmintype" />
    <result column="IADMINSTATUS" jdbcType="DECIMAL" property="iadminstatus" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="CADMININFO" jdbcType="VARCHAR" property="cadmininfo" />
    <result column="CADMINSN" jdbcType="VARCHAR" property="cadminsn" />
    <result column="CADMINCERT" jdbcType="VARCHAR" property="cadmincert" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CASERIALNUMBER" jdbcType="VARCHAR" property="caserialnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, IADMINTYPE, IADMINSTATUS, USERNAME, CADMININFO, CADMINSN, CADMINCERT, SEX, 
    PASSWORD, CASERIALNUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER (USERID, IADMINTYPE, IADMINSTATUS, 
      USERNAME, CADMININFO, CADMINSN, 
      CADMINCERT, SEX, PASSWORD, 
      CASERIALNUMBER)
    values (#{userid,jdbcType=VARCHAR}, #{iadmintype,jdbcType=DECIMAL}, #{iadminstatus,jdbcType=DECIMAL}, 
      #{username,jdbcType=VARCHAR}, #{cadmininfo,jdbcType=VARCHAR}, #{cadminsn,jdbcType=VARCHAR}, 
      #{cadmincert,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{caserialnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="iadmintype != null">
        IADMINTYPE,
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="cadmininfo != null">
        CADMININFO,
      </if>
      <if test="cadminsn != null">
        CADMINSN,
      </if>
      <if test="cadmincert != null">
        CADMINCERT,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="iadmintype != null">
        #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    <set>
      <if test="iadmintype != null">
        IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    set IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      USERNAME = #{username,jdbcType=VARCHAR},
      CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUser">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CASERIALNUMBER" jdbcType="VARCHAR" property="caserialnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, USERNAME, SEX, PASSWORD, CASERIALNUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER (USERID, USERNAME, SEX, 
      PASSWORD, CASERIALNUMBER)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{caserialnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    set USERNAME = #{username,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUser">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="IADMINTYPE" jdbcType="DECIMAL" property="iadmintype" />
    <result column="IADMINSTATUS" jdbcType="DECIMAL" property="iadminstatus" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="CADMININFO" jdbcType="VARCHAR" property="cadmininfo" />
    <result column="CADMINSN" jdbcType="VARCHAR" property="cadminsn" />
    <result column="CADMINCERT" jdbcType="VARCHAR" property="cadmincert" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CASERIALNUMBER" jdbcType="VARCHAR" property="caserialnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, IADMINTYPE, IADMINSTATUS, USERNAME, CADMININFO, CADMINSN, CADMINCERT, SEX, 
    PASSWORD, CASERIALNUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER (USERID, IADMINTYPE, IADMINSTATUS, 
      USERNAME, CADMININFO, CADMINSN, 
      CADMINCERT, SEX, PASSWORD, 
      CASERIALNUMBER)
    values (#{userid,jdbcType=VARCHAR}, #{iadmintype,jdbcType=DECIMAL}, #{iadminstatus,jdbcType=DECIMAL}, 
      #{username,jdbcType=VARCHAR}, #{cadmininfo,jdbcType=VARCHAR}, #{cadminsn,jdbcType=VARCHAR}, 
      #{cadmincert,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{caserialnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="iadmintype != null">
        IADMINTYPE,
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="cadmininfo != null">
        CADMININFO,
      </if>
      <if test="cadminsn != null">
        CADMINSN,
      </if>
      <if test="cadmincert != null">
        CADMINCERT,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="iadmintype != null">
        #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    <set>
      <if test="iadmintype != null">
        IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    set IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      USERNAME = #{username,jdbcType=VARCHAR},
      CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUser">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CASERIALNUMBER" jdbcType="VARCHAR" property="caserialnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, USERNAME, SEX, PASSWORD, CASERIALNUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER (USERID, USERNAME, SEX, 
      PASSWORD, CASERIALNUMBER)
    values (#{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{caserialnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    set USERNAME = #{username,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUser">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="IADMINTYPE" jdbcType="DECIMAL" property="iadmintype" />
    <result column="IADMINSTATUS" jdbcType="DECIMAL" property="iadminstatus" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="CADMININFO" jdbcType="VARCHAR" property="cadmininfo" />
    <result column="CADMINSN" jdbcType="VARCHAR" property="cadminsn" />
    <result column="CADMINCERT" jdbcType="VARCHAR" property="cadmincert" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CASERIALNUMBER" jdbcType="VARCHAR" property="caserialnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, IADMINTYPE, IADMINSTATUS, USERNAME, CADMININFO, CADMINSN, CADMINCERT, SEX, 
    PASSWORD, CASERIALNUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER (USERID, IADMINTYPE, IADMINSTATUS, 
      USERNAME, CADMININFO, CADMINSN, 
      CADMINCERT, SEX, PASSWORD, 
      CASERIALNUMBER)
    values (#{userid,jdbcType=VARCHAR}, #{iadmintype,jdbcType=DECIMAL}, #{iadminstatus,jdbcType=DECIMAL}, 
      #{username,jdbcType=VARCHAR}, #{cadmininfo,jdbcType=VARCHAR}, #{cadminsn,jdbcType=VARCHAR}, 
      #{cadmincert,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{caserialnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="iadmintype != null">
        IADMINTYPE,
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="cadmininfo != null">
        CADMININFO,
      </if>
      <if test="cadminsn != null">
        CADMINSN,
      </if>
      <if test="cadmincert != null">
        CADMINCERT,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="iadmintype != null">
        #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    <set>
      <if test="iadmintype != null">
        IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    set IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      USERNAME = #{username,jdbcType=VARCHAR},
      CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUser">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="IADMINTYPE" jdbcType="DECIMAL" property="iadmintype" />
    <result column="IADMINSTATUS" jdbcType="DECIMAL" property="iadminstatus" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="CADMININFO" jdbcType="VARCHAR" property="cadmininfo" />
    <result column="CADMINSN" jdbcType="VARCHAR" property="cadminsn" />
    <result column="CADMINCERT" jdbcType="VARCHAR" property="cadmincert" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="CASERIALNUMBER" jdbcType="VARCHAR" property="caserialnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    USERID, IADMINTYPE, IADMINSTATUS, USERNAME, CADMININFO, CADMINSN, CADMINCERT, SEX, 
    PASSWORD, CASERIALNUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PFUSER
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER (USERID, IADMINTYPE, IADMINSTATUS, 
      USERNAME, CADMININFO, CADMINSN, 
      CADMINCERT, SEX, PASSWORD, 
      CASERIALNUMBER)
    values (#{userid,jdbcType=VARCHAR}, #{iadmintype,jdbcType=DECIMAL}, #{iadminstatus,jdbcType=DECIMAL}, 
      #{username,jdbcType=VARCHAR}, #{cadmininfo,jdbcType=VARCHAR}, #{cadminsn,jdbcType=VARCHAR}, 
      #{cadmincert,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{caserialnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUser">
    insert into PFUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        USERID,
      </if>
      <if test="iadmintype != null">
        IADMINTYPE,
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="cadmininfo != null">
        CADMININFO,
      </if>
      <if test="cadminsn != null">
        CADMINSN,
      </if>
      <if test="cadmincert != null">
        CADMINCERT,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="iadmintype != null">
        #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    <set>
      <if test="iadmintype != null">
        IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      </if>
      <if test="iadminstatus != null">
        IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="cadmininfo != null">
        CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      </if>
      <if test="cadminsn != null">
        CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      </if>
      <if test="cadmincert != null">
        CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="caserialnumber != null">
        CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUser">
    update PFUSER
    set IADMINTYPE = #{iadmintype,jdbcType=DECIMAL},
      IADMINSTATUS = #{iadminstatus,jdbcType=DECIMAL},
      USERNAME = #{username,jdbcType=VARCHAR},
      CADMININFO = #{cadmininfo,jdbcType=VARCHAR},
      CADMINSN = #{cadminsn,jdbcType=VARCHAR},
      CADMINCERT = #{cadmincert,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      CASERIALNUMBER = #{caserialnumber,jdbcType=VARCHAR}
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>