<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amwyanhoo.dao.PfUserDeptMapper">
  <resultMap id="BaseResultMap" type="com.amwyanhoo.entity.PfUserDept">
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <id column="DEPTID" jdbcType="VARCHAR" property="deptid" />
    <id column="ROLEID" jdbcType="DECIMAL" property="roleid" />
    <id column="AUTHFLAG" jdbcType="VARCHAR" property="authflag" />
    <result column="SORTINDEX" jdbcType="DECIMAL" property="sortindex" />
  </resultMap>
  <sql id="Base_Column_List">
    AUTHFLAG, DEPTID, ROLEID, USERID, SORTINDEX
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="com.amwyanhoo.entity.PfUserDept">
  	delete from PFUSERDEPT
    where USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.amwyanhoo.entity.PfUserDept">
    insert into PFUSERDEPT
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authflag != null">
        #{authflag,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="sortindex != null">
        #{sortindex,jdbcType=DECIMAL},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.amwyanhoo.entity.PfUserDept" >
    update PFUSERDEPT
    <set >
      <if test="deptid != null">
       deptid= #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        roleid=#{roleid,jdbcType=DECIMAL},
      </if>
      <if test="authflag != null">
        authflag=#{authflag,jdbcType=VARCHAR},
      </if>
    </set>
    where USERID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>